{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Welcome, {{current_user.name}}!! {{current_user.email}}
</h1>
<div class="user-info">
    <p><strong>ID:</strong> {{ current_user.id }}</p>
    <p><strong>Visits:</strong> {{ current_user.visits }}</p>
</div>
<div class="d-flex flex-row justify-content-center mt-5">
    <div class="p-2">
        <a href="{{ url_for('user_databases') }}" role="button" class="btn btn-lg btn-primary">Visualizar BBDD</a>
    </div>
</div>
{% endblock %}
